@media only print {
  @page {
    margin: 12.7mm 9.7mm;
    size: A4;
  }
  .header__sitename a:before,
  .header__nav,
  .headerBottom,
  .menuBtn,
  .popPageHead,
  .figureTab,
  .btnArea,
  .ftrCvArea,
  .summaryArea,
  .footerArea,
  .fixedMenu {
    display: none !important;
  }
  body {
    height: 100vh;
    margin: 0 auto !important;
    padding: 0 !important;
    -webkit-print-color-adjust: exact;
    width: 920px;
  }
}

@media print, screen and (min-width: 768px) {
  .detailArea {
    padding: 80px 0;
  }
}

@media only screen and (max-width: 767px) {
  .detailArea {
    padding: 40px 0;
  }
}

.detailArea--limited {
  background: transparent url(../common/images/bg-content-limited.jpg) no-repeat top center;
}

.detailBox {
  -webkit-box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.1);
}

.detailBox__head {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .detailBox__head {
    padding: 10px;
  }
}

.detailBox__head--airly {
  background: #778eb9;
}

.detailBox__head--garden {
  background: #73b1a7;
}

.detailBox__head--doma {
  background: #758d87;
}

.detailBox__head--variable {
  background: #d7a974;
}

.detailBox__head .ja {
  color: #ffffff;
  letter-spacing: .08em;
  line-height: 1;
  padding-left: 18px;
}

@media print, screen and (min-width: 768px) {
  .detailBox__head .ja {
    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .detailBox__head .ja {
    font-size: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .detailBox__logo {
    width: 50%;
  }
}

.detailBox__body {
  background: #ffffff;
  position: relative;
}

.detailBox__body:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: '';
  height: calc(100% - 12px);
  left: 6px;
  pointer-events: none;
  position: absolute;
  top: 6px;
  width: calc(100% - 12px);
}

.detailBox__body--airly:after {
  border: 1px solid #778eb9;
}

.detailBox__body--garden:after {
  border: 1px solid #73b1a7;
}

.detailBox__body--doma:after {
  border: 1px solid #758d87;
}

.detailBox__body--variable:after {
  border: 1px solid #d7a974;
}

.detailBox__spec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.specBox {
  width: 100%;
}

@media print, screen and (min-width: 768px) {
  .specBox {
    padding: 40px 40px 40px 47px;
  }
}

@media only screen and (max-width: 767px) {
  .specBox {
    padding: 30px 30px 30px 40px;
  }
}

.specBox--airly {
  background: rgba(119, 142, 185, 0.2);
}

.specBox--garden {
  background: rgba(115, 177, 167, 0.2);
}

.specBox--doma {
  background: rgba(117, 141, 135, 0.2);
}

.specBox--variable {
  background: rgba(215, 169, 116, 0.2);
}

.specBox__top {
  -webkit-box-align: bottom;
      -ms-flex-align: bottom;
          align-items: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.specBox__top--airly {
  border-bottom: 1px solid #778eb9;
}

.specBox__top--garden {
  border-bottom: 1px solid #73b1a7;
}

.specBox__top--doma {
  border-bottom: 1px solid #758d87;
}

.specBox__top--variable {
  border-bottom: 1px solid #d7a974;
}

.specBox__bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
}

.specBox__type {
  font-family: "EB Garamond", serif;
  font-size: 48px;
  letter-spacing: .08em;
  line-height: 1;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .specBox__type {
    font-size: 40px;
  }
}

.specBox__type .small {
  font-size: .37em;
}

.specBox__plan {
  font-family: "EB Garamond", serif;
  font-size: 24px;
  letter-spacing: .08em;
  line-height: 1;
  text-align: right;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .specBox__plan {
    font-size: 20px;
  }
}

.specBox__plan:first-letter {
  font-size: 1.66em;
}

.specBox__plan .small {
  font-size: .58em;
}

.specBox__ha {
  font-family: "EB Garamond", serif;
  font-size: 20px;
  letter-spacing: .08em;
  line-height: 1;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .specBox__ha {
    font-size: 16px;
  }
}

.specBox__ha .small {
  font-size: 10px;
}

@media only screen and (max-width: 767px) {
  .specBox__ha .small {
    display: block;
  }
}

.specBox__ha .large {
  font-size: 2em;
}

.specBox__balcony {
  font-size: 10px;
  letter-spacing: .08em;
  line-height: calc(16/10);
  text-align: right;
}

@media only screen and (max-width: 767px) {
  .specBox__balcony {
    padding-top: 5px;
  }
}

.meritCopy {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media print, screen and (min-width: 768px) {
  .meritCopy {
    padding: 0 40px;
    width: calc(445 / 920 * 100%);
  }
}

@media only screen and (max-width: 767px) {
  .meritCopy {
    padding: 30px 30px 0;
    width: 100%;
  }
}

.meritCopy__item {
  font-size: 14px;
  letter-spacing: .08em;
  line-height: calc(22/14);
}

.switchCont {
  margin: 40px auto;
}

.figureTab {
  border-bottom: 1px solid #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 40px;
}

@media print, screen and (min-width: 768px) {
  .figureTab {
    max-width: calc(100% - 120px);
  }
}

@media only screen and (max-width: 767px) {
  .figureTab {
    max-width: calc(100% - 40px);
    padding: 0 40px;
  }
}

.figureTab__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f4ede6;
  border: 1px solid #111111;
  border-bottom: none;
  color: #956134;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  height: 22px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  width: 158px;
}

.figureTab__item:nth-child(n+2) {
  border-left: none;
}

@media (hover: hover) and (pointer: fine) {
  .figureTab__item:hover {
    background: #c1a97d;
    color: #ffffff;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
  }
}

.figureTab__item.is-active {
  background: #c1a97d;
  color: #ffffff;
  pointer-events: none;
}

.detailFigure {
  text-align: center;
}

.detailFigure__item {
  display: none;
}

.detailFigure__item.is-show {
  display: block;
}

.floorCap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  width: calc(790 / 920 * 100%);
}

.floorCap__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  letter-spacing: .05em;
  line-height: 1;
}

@media print, screen and (min-width: 768px) {
  .floorCap__item:nth-child(n+2) {
    margin-left: 25px;
  }
}

@media only screen and (max-width: 767px) {
  .floorCap__item {
    width: 50%;
  }
  .floorCap__item:nth-child(n+3) {
    margin-top: 10px;
  }
}

.floorCap__img, .floorCap__icon {
  margin-right: 5px;
}

.floorCap__icon {
  display: inline-block;
  height: 15px;
  width: 35px;
}

.floorCap__icon--gout {
  fill: #bce1df;
}

.floorCap__icon--lighting {
  fill: #f2d5b5;
}

.floorCap__icon--heating {
  background: #f5f2e9;
}

.floorCap__icon--storage {
  background: #d5e4dd;
}

.floorPlan {
  margin: 10px auto 0;
  padding-bottom: 45px;
  width: calc(790 / 920 * 100%);
}

@media print, screen and (min-width: 768px) {
  .floorPlan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.floorPlan__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  letter-spacing: .04em;
  line-height: 1;
}

@media print, screen and (min-width: 768px) {
  .floorPlan__item:nth-child(n+2) {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .floorPlan__item:nth-child(n+2) {
    margin-top: 5px;
  }
}
