#modelroom section > .sectionin {
    padding: 60px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

@media screen and (max-width: 767px) {
    #modelroom section > .sectionin {
        padding-left: 0;
        padding-right: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

#modelroom .pageLeadArea {
    padding: 30px 0 30px;
    text-align: center;
}

#modelroom .articleArea { /*padding: 80px 0; background: transparent url(../images/modelroom/background.jpg) no-repeat top center; */
}

@media screen and (max-width: 584px) {
    #modelroom .articleArea { /*padding: 12vw 0;*/:
    }
}

#modelroom .sec1 {
    background-color: #fff;
}

#modelroom .sec1 .sectionin {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    max-width: 1600px;
}

#modelroom .sec1 figure {
    position: relative;
}

#modelroom .sec1 figure img {
    display: block;
    vertical-align: bottom;
    width: 100%;
}

#modelroom .sec1 .sec1a {
    width: 90%;
    background: transparent url(../images/modelroom/background.jpg) no-repeat top center; /*background-color: #413A40;*/
    color: #ffffff;
    padding: 40px;
    padding-left: 60px;
    padding-right: 60px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    margin-top: 80px;
}

@media screen and (max-width: 584px) {
    #modelroom .sec1 .sec1a {
        padding: 6vw;
    }
}

#modelroom .sec1 .sec1a > dl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: black;
}

#modelroom .sec1 .sec1a > dl dt {
    width: 50%;
}

@media screen and (max-width: 584px) {
    #modelroom .sec1 .sec1a > dl dt {
        width: 100%;
        margin-bottom: 20px;
    }
}

#modelroom .sec1 .sec1a > dl dt p.p1 {
    line-height: 1;
    padding-left: .5em;
    position: relative;
    font-size: 16px;
}

#modelroom .sec1 .sec1a > dl dt p.p1:before {
    background-color: rgb(0 0 0 / 50%);
    content: '';
    display: block;
    height: 110%;
    left: 0;
    position: absolute;
    top: 55%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 2px;
}

@media screen and (max-width: 584px) {
    #modelroom .sec1 .sec1a > dl dt p.p1 {
        font-size: 4vw;
    }
}

#modelroom .sec1 .sec1a > dl dt p.p2 {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid rgb(0 0 0 / 50%);
}

@media screen and (max-width: 584px) {
    #modelroom .sec1 .sec1a > dl dt p.p2 {
        font-size: 5vw;
    }
}

#modelroom .sec1 .sec1a > dl dt p.p3 {
    line-height: 1;
    padding-left: .5em;
    position: relative;
    font-size: 17px;
    margin-bottom: 20px;
}

@media screen and (max-width: 584px) {
    #modelroom .sec1 .sec1a > dl dt p.p3 {
        font-size: 4vw;
        line-height: 1.8em;
    }
}

#modelroom .sec1 .sec1a > dl dd {
    width: 46%;
}

@media screen and (max-width: 584px) {
    #modelroom .sec1 .sec1a > dl dd {
        width: 100%;
    }
}

#modelroom .sec1 .sec1a > dl dd > ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#modelroom .sec1 .sec1a > dl dd > ul li {
    width: 46%;
}

#modelroom .sec1 .sec1a > dl dd > ul li h5 {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
}

#modelroom .sec1 .sec1a > dl dd > ul li h5 span {
    font-size: 17px;
}

@media screen and (max-width: 584px) {
    #modelroom .sec1 .sec1a > dl dd > ul li h5 {
        font-size: 2.5vw;
    }

    #modelroom .sec1 .sec1a > dl dd > ul li h5 span {
        font-size: 4vw;
    }
}

#modelroom .sec1 .slide1 {
    position: relative;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 584px) {
    #modelroom .sec1 .slide1 {
        margin-top: 0px;
    }
}

#modelroom .sec1 .slide1 .bg {
    display: block;
    vertical-align: bottom;
    width: 100%;
}

#modelroom .sec1 .slide1 ul { /*position: absolute;*/ /*width: 100%;*/ /*height: 100%;*/ /*left: 0;*/ /*top: 0;*/
    position: relative;
}

#modelroom .sec1 .slide1 .slide-item { /*position: absolute;*/
    position: relative;
    width: 100%;
    height: 100%; /*left: 0;*/ /*top: 0;*/ /*opacity: 0;*/ /*-webkit-transition: 1s;*/ /*-moz-transition: 1s;*/ /*-o-transition: 1s;*/ /*transition: 1s;*/
}

#modelroom .sec1 .slide1 .slide-item p {
    position: absolute;
    left: 0;
    bottom: 12px;
    font-size: 13px;
    line-height: 1em;
    width: 100%;
    color: #ffffff;
    text-shadow: 0 0 2px rgba(50, 50, 50, 0.9);
    text-align: right;
    padding-right: 12px;
}

@media screen and (max-width: 584px) {
    #modelroom .sec1 .slide1 .slide-item p {
        font-size: 2vw;
        padding-right: 6px;
        bottom: 5px;
    }
}

#modelroom .sec1 .slide1 .slide-item p.sty2 {
    left: auto;
    right: 12px;
}

#modelroom .sec1 .slide1 .slide-item p.pht2 {
    width: 50%;
}

#modelroom .sec1 .slide1 .slide-item p.colb {
    color: #000000;
    text-shadow: 0 0 2px rgba(250, 250, 250, 0.9);
}

#modelroom .sec1 .slide1 .slide-item img {
    display: block;
    vertical-align: bottom;
    width: 100%;
}

#modelroom .sec1 .slide1 .slide-item.act {
    opacity: 1;
}

#modelroom .sec1 .psld0 {
    margin-bottom: 15px;
}

#modelroom .sec1 .slick-prev {
    width: 30px;
    height: 60px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/modelroom/ppp.png);
    color: rgba(255, 255, 255, 0);
    left: 10px;
    z-index: 17;
    content: "" !important;
}

#modelroom .sec1 .slick-prev::before {
    display: none !important;
}

@media screen and (max-width: 584px) {
    #modelroom .sec1 .slick-prev {
        width: 36px;
        height: 36px;
        left: 0;
    }
}

#modelroom .sec1 .slick-next {
    width: 30px;
    height: 60px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/modelroom/nnn.png);
    color: rgba(255, 255, 255, 0);
    right: 10px;
    z-index: 17;
    content: "" !important;
}

#modelroom .sec1 .slick-next::before {
    display: none !important;
}

@media screen and (max-width: 584px) {
    #modelroom .sec1 .slick-next {
        width: 36px;
        height: 36px;
        right: 0;
    }
}

#modelroom .sec1 #slide2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 584px) {
    #modelroom .sec1 #slide2 {
        justify-content: center;
    }
}

#modelroom .sec1 #slide2 .slide-item {
    position: relative;
    box-sizing: border-box;
    width: calc(96% / 12);
    margin-top: 10px;
    cursor: pointer;
}

@media screen and (max-width: 584px) {
    #modelroom .sec1 #slide2 .slide-item {
        float: none;
    }
}

#modelroom .sec1 #slide2 .slide-item img {
    display: block;
    vertical-align: bottom;
    width: 100%;
}

#modelroom .sec1 #slide2 .slide-item:last-child {
    margin-right: 0;
}

#modelroom .sec1 #slide2 .slide-item::after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#modelroom .sec1 #slide2 .slide-item p {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 13px;
    text-align: center;
    width: 100%;
    z-index: 3;
    color: #ffffff;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 0px 0px 3px black;
    -moz-text-shadow: 1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 0px 0px 3px black;
    -webkit-text-shadow: 1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 0px 0px 3px black;
}

#modelroom .sec1 #slide2 .slide-item:hover::after {
    opacity: 0;
}

@media screen and (max-width: 584px) {
    #modelroom .sec1 #slide2 .slide-item {
        width: 24.25%;
        width: 15%;
        margin-right: 0;
        margin-bottom: 3px;
        margin-top: 0;
        margin-right: 1%;
    }

    #modelroom .sec1 #slide2 .slide-item:nth-child(6n) {
        margin-right: 0;
    }
}

#modelroom .sec1 #slide2.s0 .s0::after, #modelroom .sec1 #slide2.s1 .s1::after, #modelroom .sec1 #slide2.s2 .s2::after, #modelroom .sec1 #slide2.s3 .s3::after, #modelroom .sec1 #slide2.s4 .s4::after, #modelroom .sec1 #slide2.s5 .s5::after, #modelroom .sec1 #slide2.s11 .s11::after,#modelroom .sec1 #slide2.s11 .s11::after, #modelroom .sec1 #slide2.s10 .s10::after, #modelroom .sec1 #slide2.s9 .s9::after, #modelroom .sec1 #slide2.s8 .s8::after, #modelroom .sec1 #slide2.s7 .s7::after, #modelroom .sec1 #slide2.s6 .s6::after {
    opacity: 0;
}

.photo {
    position: relative;
    text-align: center;
}


@media print, screen and (min-width: 768px) {
    .bnrArea {
        padding: 80px 0 130px;
    }
}

@media only screen and (max-width: 767px) {
    .bnrArea {
        padding: 60px 0 90px;
    }
}

.bnrArea__item {
    -webkit-box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

@media print, screen and (min-width: 768px) {
    .bnrArea__item:nth-child(n+2) {
        margin-top: 55px;
    }
}

@media only screen and (max-width: 767px) {
    .bnrArea__item:nth-child(n+2) {
        margin-top: 30px;
    }
}

.bnrArea__item--selectPlan {
    pointer-events: none;
    position: relative;
}


.bnrArea__item--selectPlan .ttl {
    letter-spacing: .08em;
    line-height: 1;
    position: absolute;
}

@media print, screen and (min-width: 768px) {
    .bnrArea__item--selectPlan .ttl {
        font-size: 32px;
        left: 40px;
        top: 60px;
    }
}

@media only screen and (max-width: 767px) {
    .bnrArea__item--selectPlan .ttl {
        font-size: 16px;
        left: 5%;
        top: 28%;
    }
}

.bnrArea__item--selectPlan .comingSoon {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid rgba(90, 181, 178, 0.3);
    color: #999999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "EB Garamond", serif;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    letter-spacing: .04em;
    line-height: 1;
    width: 100%;
}

@media print, screen and (min-width: 768px) {
    .bnrArea__item--selectPlan .comingSoon {
        font-size: 24px;
        height: 56px;
    }
}

@media only screen and (max-width: 767px) {
    .bnrArea__item--selectPlan .comingSoon {
        font-size: 12px;
        height: 28px;
    }
}


/*# sourceMappingURL=modelroom.css.map */
