/******************************

 * style
 *
 * 1. import
 * 2. html, body
 * 3. tag
 * 4. Layout
 * 5. Components

******************************/
/*****
 * 1. import
*****/
/**
 * accessibility.css
 * (c) FOURDIGIT Inc.
 */
@import url(import/bootstrap.css);
@import url(import/reset.css);
@import url(import/util.css);
#noscript {
  background: #ffffff;
  border-bottom: 1px solid #999999;
  color: #333333;
  font-family: sans-serif;
  font-size: 14px;
  height: 59px;
  left: 0;
  line-height: 20px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

#noscript .content {
  padding: 10px;
  width: auto;
}

#noscript span {
  color: #cc0000;
}

@font-face {
  font-family: YakuHanJP;
  font-weight: 400;
  src: url("../asset/font/YakuHanJP/YakuHanJP-Regular.woff") format("woff");
}

@font-face {
  font-family: YakuHanJP;
  font-weight: 700;
  src: url("../asset/font/YakuHanJP/YakuHanJP-Bold.woff") format("woff");
}

@font-face {
  font-family: YakuHanMP;
  font-weight: 400;
  src: url("../asset/font/YakuHanMP/YakuHanMP-Regular.woff") format("woff");
}

@font-face {
  font-family: YakuHanMP;
  font-weight: 700;
  src: url("../asset/font/YakuHanMP/YakuHanMP-Bold.woff") format("woff");
}

/*****
 * 2. html, body
*****/
body {
  background-color: #ffffff;
}

/*****
 * 3. tag
*****/
/* anchor */
a {
  background-color: transparent;
  background-image: none;
  background-position: top left;
  background-repeat: no-repeat;
  color: #333333;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

/* img */
img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

/* pc sp */
@media print, screen and (min-width: 768px) {
  .sp {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .pc {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .tab-sp {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .pc-tab {
    display: none;
  }
  .tab-sp {
    display: block;
  }
}

/* telephone */
@media only screen and (max-width: 767px) {
  .telephone {
    pointer-events: none;
  }
}

@media print, screen and (min-width: 768px) {
  .telephone {
    pointer-events: visible;
  }
}

@media print, screen and (min-width: 768px) {
  a[href*='tel:'] {
    cursor: default;
    pointer-events: none;
    text-decoration: none;
  }
}

/*****
 * 4. Layout
*****/
body {
  background: #ffffff;
  color: #333333;
  font-family: "Noto Serif JP", serif;
  -webkit-font-feature-settings: 'palt';
          font-feature-settings: 'palt';
  font-size: 14px;
  line-height: 1.6;
  overflow-x: hidden;
}

.c-contact {
  margin-top: 35px;
}

@media screen and (min-width: 576px), print {
  .c-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px), print {
  .c-contact {
    display: block;
    margin-top: 54px;
  }
}

.c-contact__txt {
  font-size: 10px;
  text-align: center;
}

@media screen and (min-width: 576px), print {
  .c-contact__txt {
    text-align: left;
  }
}

@media screen and (min-width: 768px), print {
  .c-contact__txt {
    font-size: 12px;
    text-align: left;
  }
}

.c-contact .c-btn-list {
  display: none;
}

@media screen and (min-width: 576px), print {
  .c-contact .c-btn-list {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-right: 30px;
    width: 48%;
  }
}

@media screen and (min-width: 768px), print {
  .c-contact .c-btn-list {
    display: block;
    width: 100%;
  }
}

.c-tel {
  background: url(../images/cmn_freecall_icon_bk.svg) left center/37px 21px no-repeat;
  font-size: 32px;
  font-size: 3.2rem;
  padding-left: 44px;
}

.c-tel a {
  color: #333333;
  text-decoration: none;
}

.c-footer-contact {
  text-align: center;
}

@media screen and (min-width: 768px), print {
  .c-footer-contact:after:after {
    clear: both;
    content: '';
    display: block;
  }
}

@media screen and (min-width: 576px), print {
  .c-footer-contact {
    text-align: left;
  }
}

@media screen and (min-width: 768px), print {
  .c-footer-contact {
    text-align: left;
  }
}

.c-footer-contact__ttl {
  font-size: 10px;
}

@media screen and (min-width: 768px), print {
  .c-footer-contact__ttl {
    font-size: 16px;
  }
}

.c-footer-contact__tel {
  font-size: 35px;
  line-height: 1;
}

@media screen and (min-width: 768px), print {
  .c-footer-contact__tel {
    float: left;
    font-size: 40px;
    line-height: 1;
    margin-right: 12px;
  }
}

.c-footer-contact__tel > span {
  background: url(../images/cmn_freecall_icon_wh.svg) left center/47px 27px no-repeat;
  padding-left: 57px;
}

.c-footer-contact__tel > span a {
  color: #ffffff;
  text-decoration: none;
}

.c-footer-contact__time {
  font-size: 10px;
}

@media screen and (min-width: 768px), print {
  .c-footer-contact__time {
    float: left;
    font-size: 12px;
  }
}

/* Container */
/*****
 * 5. Components
*****/
/* Header and Footer */
.fixedMenu {
  background: #ffffff;
  bottom: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

@media screen and (min-width: 1024px) {
  .fixedMenu {
    display: none;
  }
}

.fixedMenu__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0 4px;
  text-align: center;
}

.fixedMenu__list > li {
  height: 83px;
  line-height: 1.3;
  padding: 8px 1px;
  width: calc((100% - 4%) / 4);
}

.fixedMenu__item > a {
  border: 1px solid #333333;
  color: #333333;
  display: block;
  height: 100%;
  padding-top: 35px;
  position: relative;
  text-decoration: none;
  width: 100%;
}

.fixedMenu__item > a span {
  display: block;
  font-size: 10px;
  letter-spacing: -.04em;
  position: relative;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.fixedMenu__item--tel > a:after {
  background: url(../images/cmn_icon_tel.svg) center 12px/18px 18px no-repeat;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.fixedMenu__item--outline > a:after {
  background: url(../images/cmn_icon_outline.svg) center 12px/13px 19px no-repeat;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.fixedMenu__item--map > a:after {
  background: url(../images/cmn_icon_map.svg) center 12px/13px 19px no-repeat;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.fixedMenu__item--req > a {
  background: linear-gradient(140deg, #4f9c99 0%, #77b3b1 70%, #93c3c1 100%);
  border: none;
  color: #ffffff;
}

.fixedMenu__item--req > a:after {
  background: url(../images/cmn_icon_req.svg) center 12px/19px 15px no-repeat;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.fixedMenu__item--limited > a {
  background: linear-gradient(140deg, #5f738a 0%, #7e8ea1 70%, #9eaab8 100%);
  border: none;
  color: #ffffff;
  padding-top: 30px;
}

.fixedMenu__item--limited > a:after {
  background: url("../images/cmn_icon_limited.svg") center 10px/18px 18px no-repeat;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.fixedMenu__item--res > a {
  background: linear-gradient(140deg, #ad9731 0%, #bead5d 70%, #cdc083 100%);
  border: none;
  color: #ffffff;
}

.fixedMenu__item--res > a:after {
  background: url("../images/cmn_icon_res.svg") center 12px/18px 18px no-repeat;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.fixedMenu__item--resFM > a:after {
  background: url("../images/cmn_icon_res-fm.svg") center 2.5vw/5vw 5vw no-repeat;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.footerContact {
  text-align: center;
}

@media screen and (min-width: 576px), print {
  .footerContact {
    text-align: left;
  }
}

.footerContact__ttl {
  font-size: 10px;
  line-height: 1.8;
}

.footerContact__ttl:before {
  content: '';
  display: block;
  height: 0;
  margin-top: calc((1 - 1.8) * .5em);
  width: 0;
}

.footerContact__ttl:after {
  content: '';
  display: block;
  height: 0;
  margin-bottom: calc((1 - 1.8) * .5em);
  width: 0;
}

@media only screen and (max-width: 767px) {
  .footerContact__ttl {
    margin-bottom: 15px;
  }
}

@media print, screen and (min-width: 768px) {
  .footerContact__ttl {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

.footerContact__time {
  font-size: 10px;
  white-space: nowrap;
}

@media only screen and (max-width: 767px) {
  .footerContact__time {
    margin-top: 15px;
  }
}

@media print, screen and (min-width: 768px) {
  .footerContact__time {
    float: left;
    font-size: 12px;
  }
}

.footerContact__tel {
  font-family: "EB Garamond", serif;
  font-size: 35px;
  line-height: 1;
}

.footerContact__tel > span {
  background: url(../images/cmn_freecall_icon_wh.svg) left center/47px 27px no-repeat;
  padding-left: 57px;
}

.footerContact__tel > span a {
  color: #ffffff;
  text-decoration: none;
}

@media print, screen and (min-width: 768px) {
  .footerContact__tel {
    float: left;
    font-size: 40px;
    line-height: 1;
    margin-right: 12px;
  }
}

.mapBtn {
  background: #ffffff;
  display: block;
  font-size: 13px;
  padding: 12px 0;
  position: relative;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .mapBtn {
    width: 190px;
  }
}

@media print, screen and (min-width: 768px) {
  .mapBtn {
    font-size: 16px;
    padding: 15px 0;
    width: 100%;
  }
}

.mapBtn span {
  color: #333333;
  display: block;
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .mapBtn span {
    background: url(../images/cmn_label_arrow.png) 10px center/17px 17px no-repeat;
    padding-left: 20px;
  }
}

@media print, screen and (min-width: 768px) {
  .mapBtn span {
    background: url(../images/cmn_label_arrow.png) 10px center/13px 13px no-repeat;
  }
}

.footerMap {
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .footerMap {
    margin-top: 18px;
  }
}

.footerMap > .mapBtn {
  margin: 0 auto 0 auto;
}

@media screen and (min-width: 576px), print {
  .footerMap > .mapBtn {
    margin: 0 0 0 auto;
  }
}

@media print, screen and (min-width: 768px) {
  .footerMap > .mapBtn {
    bottom: 0;
    position: absolute;
    right: 15px;
  }
}

@media print {
  .footerMap {
    display: none;
  }
}

.footerLink {
  background: #e6e6e6;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  padding-bottom: 5px;
  padding-top: 20px;
  width: 100%;
}

@media print, screen and (min-width: 768px) {
  .footerLink {
    padding-bottom: 40px;
    padding-top: 40px;
  }
}

.footerLink__ttl {
  background: #006448;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
  padding: 12px 20px;
  text-align: left;
  width: 100%;
}

@media print, screen and (min-width: 768px) {
  .footerLink__ttl {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.footerLink__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border: 1px solid #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 4px;
  text-align: left;
}

@media print, screen and (min-width: 768px) {
  .footerLink__item {
    font-size: 18px;
  }
}

.footerLink__photo {
  margin: 0;
  margin-right: 20px;
  padding: 0;
  width: 37.02065%;
}

@media print, screen and (min-width: 768px) {
  .footerLink__photo {
    width: 214px;
  }
}

.footerLink a {
  color: #0056b3;
  text-decoration: underline;
}

@media (hover: hover) and (pointer: fine) {
  .footerLink a:hover {
    color: #0056b3;
    text-decoration: underline;
  }
}

.footerBrandList {
  list-style: none;
  padding: 0;
}

@media print, screen and (min-width: 768px) {
  .footerBrandList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .footerBrandList {
    display: block;
  }
}

.footerBrandList > li {
  margin-bottom: 15px;
}

@media print, screen and (min-width: 768px) {
  .footerBrandList > li {
    margin-bottom: 0;
    width: calc(360 / 1140 * 100%);
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .footerBrandList > li {
    margin-bottom: 15px;
    width: 100%;
  }
}

.footerBrandList__ttl {
  background: #006448;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0;
  padding: 12px 20px;
  text-align: left;
  width: 100%;
}

@media print, screen and (min-width: 768px) {
  .footerBrandList__ttl {
    font-size: 14px;
  }
}

.footerBrandList__item {
  background: #ffffff;
  border: 1px solid #cccccc;
  text-align: center;
}

@media print, screen and (min-width: 768px) {
  .footerBrandList__item {
    min-height: 204px;
  }
}

.footerBrandList__photo {
  margin: 0 auto 10px;
  max-width: 124px;
  padding: 30px 0 0 0;
}

.footerBrandList__txt {
  font-size: 10px;
  padding: 0 10px 15px;
}

@media print, screen and (min-width: 768px) {
  .footerBrandList__txt {
    font-size: 13px;
    line-height: 2;
    padding: 0 20px 20px;
  }
}

.footerBrandList__others {
  font-size: 12px;
  list-style: none;
  margin: 0;
  padding: 15px;
}

@media print, screen and (min-width: 768px) {
  .footerBrandList__others {
    font-size: 14px;
    padding: 20px;
  }
}

.footerBrandList__others > li:nth-child(n+2) {
  margin-top: 10px;
}

.footerBrandList__others > li > a {
  padding-left: 10px;
  position: relative;
}

.footerBrandList__others > li > a:after {
  background: url(../images/cmn_icon_arrow3.svg) left top/6px 9px no-repeat;
  content: '';
  display: block;
  height: 9px;
  left: 0;
  position: absolute;
  top: .4em;
  width: 6px;
}

.footerCopyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerCopyright__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .footerCopyright__left {
    width: calc(320 / 1110 * 100%);
  }
}

@media only screen and (max-width: 767px) {
  .footerCopyright__left:nth-child(n+2) {
    margin-top: 20px;
  }
}

.footerCopyright__right {
  margin-left: auto;
}

@media screen and (max-width: 1023px) {
  .footerCopyright__right {
    margin-top: 40px;
  }
}

.footerCopyright__address {
  font-size: 12px;
  line-height: 2;
  padding-top: 15px;
  text-align: left;
}

.footerCopyright__address > strong {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.81818;
}

.footerCopyright__link {
  font-size: 12px;
  line-height: 2;
  list-style: none;
  text-align: right;
}

.footerCopyright__link a {
  color: #0056b3;
  text-decoration: underline;
}

@media (hover: hover) and (pointer: fine) {
  .footerCopyright__link a:hover {
    color: #0056b3;
    text-decoration: underline;
  }
}

.pageTopBtn {
  background: url(../images/cmn_btn_pagetop.png) 0 0/59px 59px no-repeat;
  bottom: 0;
  height: 59px;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  text-indent: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  white-space: nowrap;
  width: 59px;
  z-index: 200;
}

@media screen and (max-width: 1023px) {
  .pageTopBtn {
    display: none;
  }
}

.pageTopBtn a {
  display: block;
  height: 100%;
  width: 100%;
}

.pageTopBtn.is-show {
  opacity: 1;
  pointer-events: auto;
}

.ftrCvArea {
  background: #eef7f7;
  margin-top: 30px;
  width: 100%;
}

@media print, screen and (min-width: 768px) {
  .ftrCvArea {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 234px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 767px) {
  .ftrCvArea {
    padding: 40px 15px;
  }
}

.ftrCvBtn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  height: 75px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: .08em;
  line-height: 1;
  overflow: hidden;
  position: relative;
}

.ftrCvBtn.is-hover {
  color: #ffffff;
}

.ftrCvBtn.is-hover:before {
  -webkit-animation: scaleout 1s 1 ease-out;
          animation: scaleout 1s 1 ease-out;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  content: '';
  height: calc(380px * 1.05);
  left: calc(50% - (calc(380px * 1.05) / 2));
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: calc((75px - calc(380px * 1.05)) / 2);
  width: calc(380px * 1.05);
}

@-webkit-keyframes scaleout {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleout {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (hover: hover) and (pointer: fine) {
  .ftrCvBtn:hover {
    color: #ffffff;
  }
}

@media print, screen and (min-width: 768px) {
  .ftrCvBtn {
    margin: 0 15px;
    width: 380px;
  }
}

@media only screen and (max-width: 767px) {
  .ftrCvBtn {
    margin: 0 auto;
    width: 345px;
  }
  .ftrCvBtn:nth-child(n+2) {
    margin-top: 20px;
  }
}

.ftrCvBtn--req {
  background: linear-gradient(140deg, #4f9c99 0%, #77b3b1 70%, #93c3c1 100%);
}

.ftrCvBtn--res {
  background: linear-gradient(140deg, #ad9731 0%, #bead5d 70%, #cdc083 100%);
}

.footerCap {
  color: #999999;
  font-size: 10px;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .footerCap {
    margin-bottom: 15px;
  }
}

@media print, screen and (min-width: 768px) {
  .footerCap {
    font-size: 10px;
    letter-spacing: .1em;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .summaryArea {
    margin-top: 40px;
  }
}

@media print, screen and (min-width: 768px) {
  .summaryArea {
    margin-top: 65px;
  }
}

.summary {
  border: 1px solid #cccccc;
  margin-bottom: 30px;
  padding: 20px;
  text-align: left;
}

.summary__ttl {
  font-family: "EB Garamond", serif;
  letter-spacing: .08em;
}

@media only screen and (max-width: 767px) {
  .summary__ttl {
    font-size: 11px;
  }
}

@media print, screen and (min-width: 768px) {
  .summary__ttl {
    font-size: 14px;
  }
}

.summary__txt {
  font-size: 10px;
  margin-top: 8px;
}

@media print, screen and (min-width: 768px) {
  .summary__txt {
    font-size: 12px;
    letter-spacing: .1em;
    margin-top: 10px;
  }
}

.footerContactArea {
  background: #333333;
  color: #ffffff;
  padding: 24px 0;
  width: 100%;
}

@media print, screen and (min-width: 768px) {
  .footerContactArea {
    padding: 40px 0;
  }
}

.footerCopyrightArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 20px 0;
}

@media print, screen and (min-width: 768px) {
  .footerCopyrightArea {
    padding-bottom: 40px;
    padding-top: 40px;
  }
}

.btnInfoBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  max-width: 800px;
}

@media print, screen and (min-width: 768px) {
  .btnInfoBottom {
    display: block;
  }
}

.btnPlanPage {
  padding: 15px;
  text-align: center;
}

.btnPlanPage a {
  -webkit-transition: .5s;
  transition: .5s;
}

@media (hover: hover) and (pointer: fine) {
  .btnPlanPage a:hover {
    opacity: .7;
  }
}

.header {
  background: #ffffff;
  -webkit-box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.1);
  left: 0;
  opacity: 1;
  pointer-events: auto;
  position: fixed;
  top: 0;
  -webkit-transition: .5s;
  transition: .5s;
  width: 100%;
  z-index: 100;
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 0 15px;
  }
}

@media print {
  .header {
    position: absolute;
  }
}

.header__sitename {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .06em;
  line-height: 1;
  position: relative;
  text-align: left;
}

@media screen and (min-width: 1024px) {
  .header__sitename {
    font-size: 20px;
    letter-spacing: .06em;
    line-height: 1;
    width: 46%;
  }
}

.header__sitename a {
  color: #333333;
  display: block;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .header__sitename a {
    padding: 10px 0 0 132px;
  }
}

@media screen and (max-width: 1023px) {
  .header__sitename a {
    padding: 17px 0 0 68px;
  }
}

.header__sitename a:before {
  background-image: url(../images/cmn_logo.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 59px 27px;
  content: '';
  display: block;
  height: 27px;
  left: 0;
  position: absolute;
  top: 9px;
  width: 59px;
}

@media screen and (min-width: 1024px) {
  .header__sitename a:before {
    background-size: 118px 54px;
    height: 54px;
    top: 0;
    width: 118px;
  }
}

.header__sitename span {
  display: none;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  letter-spacing: 0;
  margin-top: auto;
  padding-top: 8px;
}

@media screen and (min-width: 1024px) {
  .header__sitename span {
    display: inline-block;
    font-size: 10px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 1023px) {
  .header__svg {
    width: 206px;
  }
}

.header__nav {
  display: none;
  letter-spacing: -.4em;
  text-align: right;
}

@media screen and (min-width: 1024px) {
  .header__nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 0 0;
  }
}

.header__nav > .header__navItem {
  display: inline-block;
  letter-spacing: normal;
  list-style: none;
  margin-left: 2px;
  vertical-align: middle;
}

.header__nav > .header__navItem a {
  text-decoration: none;
}

.header__navItem {
  padding-right: 20px;
}

.header__navItem p {
  font-size: 12px;
  margin: 0;
  padding-left: 10px;
  position: relative;
  text-align: left;
}

.header__navItem p:before {
  background: url(../images/cmn_icon_arrow.svg) left top/4px 7px no-repeat;
  content: '';
  display: block;
  height: 7px;
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4px;
}

.header__cvItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header.is-hide {
  opacity: 0;
  pointer-events: none;
}

.headerTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .headerTop {
    height: 49px;
    padding-left: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .headerTop {
    height: 84px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    padding: 15px;
  }
}

.headerBottom {
  background: #ffffff;
  display: none;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .headerBottom {
    display: block;
  }
}

.headerBottom.is-show {
  display: block;
}

.menuBtn {
  background: #5ab5b2;
  height: 49px;
  position: absolute;
  right: 0;
  top: 0;
  width: 49px;
}

@media screen and (min-width: 1024px) {
  .menuBtn {
    display: none;
  }
}

.menuBtn__trigger {
  color: #ffffff;
  display: block;
  font-size: 10px;
  height: 100%;
  letter-spacing: .05em;
  line-height: 1;
  padding-top: 68.5%;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.menuBtn__trigger span {
  background-color: #ffffff;
  display: inline-block;
  height: 3px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .4s;
  transition: all .4s;
  width: calc(50 / 98 * 100%);
}

.menuBtn__trigger span:nth-of-type(1) {
  top: 18.4%;
}

.menuBtn__trigger span:nth-of-type(2) {
  top: 36.8%;
}

.menuBtn__trigger span:nth-of-type(3) {
  top: 55.2%;
}

.menuBtn__trigger.is-open span:nth-of-type(1) {
  -webkit-transform: translate(-50%, 300%) rotate(-45deg);
          transform: translate(-50%, 300%) rotate(-45deg);
}

.menuBtn__trigger.is-open span:nth-of-type(2) {
  opacity: 0;
}

.menuBtn__trigger.is-open span:nth-of-type(3) {
  -webkit-transform: translate(-50%, -300%) rotate(45deg);
          transform: translate(-50%, -300%) rotate(45deg);
}

.headerCvBtn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: .08em;
  line-height: 1;
  padding: 15px 0;
  text-align: center;
  -webkit-transition: .2s;
  transition: .2s;
  width: 110px;
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .headerCvBtn {
    font-size: 12px;
  }
}

.headerCvBtn + .headerCvBtn {
  margin-left: 10px;
}

.headerCvBtn.is-hover {
  color: #ffffff;
}

.headerCvBtn.is-hover:before {
  -webkit-animation: scaleout 1s 1 ease-out;
          animation: scaleout 1s 1 ease-out;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  content: '';
  height: calc(175px * 1.05);
  left: calc(50% - (calc(175px * 1.05) / 2));
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: calc((44px - calc(175px * 1.05)) / 2);
  width: calc(175px * 1.05);
}

@keyframes scaleout {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (hover: hover) and (pointer: fine) {
  .headerCvBtn:hover {
    color: #ffffff;
  }
}

.headerCvBtn--req {
  background: linear-gradient(140deg, #4f9c99 0%, #77b3b1 70%, #93c3c1 100%);
}

.headerCvBtn--res {
  background: linear-gradient(140deg, #ad9731 0%, #bead5d 70%, #cdc083 100%);
}

.headerCvBtn--limited {
  background: linear-gradient(140deg, #5f738a 0%, #7e8ea1 70%, #9eaab8 100%);
}

.headerNav {
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .headerNav {
    display: none;
  }
}

@media print, screen and (min-width: 768px) {
  .headerNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1140px;
    padding: 15px;
  }
}

.headerNav__item {
  text-align: center;
  width: calc(100% / 10);
}

.headerNav__link {
  display: block;
  padding: 15px 0 12px;
  position: relative;
}

.headerNav__link .en {
  font-family: "EB Garamond", serif;
  font-size: 13px;
  letter-spacing: .04em;
  line-height: 1;
}

.headerNav__link .ja {
  color: #666666;
  font-size: 10px;
  letter-spacing: .04em;
  line-height: 1;
  margin-top: 6px;
}

.headerNav__link:after {
  background: -webkit-gradient(linear, left top, right top, from(rgba(202, 184, 103, 0)), color-stop(30%, #cab867), color-stop(70%, #cab867), to(rgba(202, 184, 103, 0)));
  background: linear-gradient(90deg, rgba(202, 184, 103, 0) 0%, #cab867 30%, #cab867 70%, rgba(202, 184, 103, 0) 100%);
  bottom: 1px;
  content: '';
  height: 3px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  width: 0;
}

@media (hover: hover) and (pointer: fine) {
  .headerNav__link:hover:after {
    width: 100%;
  }
}

.headerNav__link.is-current:after {
  width: 100%;
}

.headerNav__link.is-new:before {
  background-color: #c8b561;
  color: #ffffff;
  content: 'NEW';
  display: inline-block;
  font-family: "EB Garamond", serif;
  font-size: 10px;
  height: auto;
  letter-spacing: .08em;
  line-height: 1;
  padding: 1px 3px 2px;
  position: absolute;
  right: 0;
  top: -2px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  width: auto;
}

.headerNav__link.is-off {
  opacity: .4;
  pointer-events: none;
}

.spFixedNav {
  background: #ffffff;
  border-bottom: 1px solid #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  width: 100%;
  z-index: 1000;
}

@media screen and (min-width: 1024px) {
  .spFixedNav {
    display: none;
  }
}

.spFixedNav__item {
  background-color: #ffffff;
  border-top: 1px solid #cccccc;
  width: 50%;
}

.spFixedNav__item:nth-child(2n-1) {
  border-right: 1px solid #cccccc;
}

.spFixedNav__item--col1 {
  border-right: none !important;
  width: 100%;
}

.spFixedNav__item.limited, .spFixedNav__item.visit {
  background: linear-gradient(140deg, #5f738a 0%, #7e8ea1 70%, #9eaab8 100%);
  border-bottom: none !important;
  border-right: 1px solid #cccccc;
  padding: 10px 0;
}

.spFixedNav__item.limited .ja, .spFixedNav__item.visit .ja {
  color: #ffffff;
}

.spFixedNav__link {
  display: block;
  letter-spacing: .08em;
  padding: 9px 0;
  position: relative;
}

.spFixedNav__link .en {
  font-family: "EB Garamond", serif;
  font-size: 16px;
  line-height: 1;
}

.spFixedNav__link .ja {
  color: #666666;
  font-size: 11px;
  line-height: 1;
  margin-top: 5px;
}

.spFixedNav__link.is-new:before {
  background-color: #c8b561;
  color: #ffffff;
  content: 'NEW';
  display: inline-block;
  font-family: "EB Garamond", serif;
  font-size: 10px;
  height: auto;
  line-height: 1;
  padding: 3px 2px;
  position: absolute;
  right: -1px;
  top: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  width: auto;
}

.spFixedNav__link.is-off {
  opacity: .4;
  pointer-events: none;
}

.spFixedNav.is-sp-menu-open {
  opacity: 1;
  pointer-events: auto;
}

.footerNav {
  letter-spacing: -.4em;
  margin: 0 0 25px 0;
  padding: 0;
}

@media print, screen and (min-width: 768px) {
  .footerNav {
    display: block;
    text-align: center;
  }
}

.footerNav__item {
  border-right: 1px solid #333333;
  display: inline-block;
  font-size: 12px;
  letter-spacing: normal;
  line-height: 1;
  white-space: nowrap;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .footerNav__item {
    font-size: 11px;
  }
}

.footerNav__item:last-child {
  border-right: none;
}

.footerNav__item.sp {
  display: none;
}

.footerNav__link {
  color: #333333;
  display: block;
  padding: 0 10px;
  position: relative;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.footerNav__link.is-off {
  opacity: .4;
  pointer-events: none;
}

.footerNav__link .en {
  display: none;
}

.footerNav__link .ja {
  font-size: 11px;
  letter-spacing: 0;
}

.footerNav__link:after {
  background: -webkit-gradient(linear, left top, right top, from(rgba(202, 184, 103, 0)), color-stop(30%, #cab867), color-stop(70%, #cab867), to(rgba(202, 184, 103, 0)));
  background: linear-gradient(90deg, rgba(202, 184, 103, 0) 0%, #cab867 30%, #cab867 70%, rgba(202, 184, 103, 0) 100%);
  bottom: -8px;
  content: '';
  height: 2px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  width: 0;
}

@media (hover: hover) and (pointer: fine) {
  .footerNav__link:hover:after {
    width: 80%;
  }
}

/* Common Components */
@media print, screen and (min-width: 768px) {
  .blockLead {
    margin-bottom: 55px;
  }
}

@media only screen and (max-width: 767px) {
  .blockLead {
    margin-bottom: 35px;
  }
}

.blockLead__ttl {
  margin-bottom: 10px;
}

.blockLead .head--02 {
  margin-bottom: 20px;
  position: relative;
}

@media print, screen and (min-width: 768px) {
  .blockLead .head--02 {
    padding-bottom: 25px;
  }
}

@media only screen and (max-width: 767px) {
  .blockLead .head--02 {
    padding-bottom: 20px;
  }
}

.blockLead .head--02:after {
  background: -webkit-gradient(linear, left top, right top, from(#5ab5b2), color-stop(70%, #a5c9b2), to(#e6dbb0));
  background: linear-gradient(90deg, #5ab5b2 0%, #a5c9b2 70%, #e6dbb0 100%);
  bottom: 0;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  width: 100%;
}

.breadcrumb {
  line-height: 1.2;
  position: absolute;
  text-align: right;
}

@media print, screen and (min-width: 768px) {
  .breadcrumb {
    right: 128px;
    top: 14px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .breadcrumb {
    right: 10px;
    top: 2px;
  }
}

@media only screen and (max-width: 767px) {
  .breadcrumb {
    right: 12px;
    top: 12px;
  }
}

.breadcrumb__item {
  color: #999999;
  display: inline-block;
  font-size: 10px;
  letter-spacing: .08em;
  line-height: 1;
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.9), -1px 1px 10px rgba(255, 255, 255, 0.9), 1px -1px 10px rgba(255, 255, 255, 0.9), -1px -1px 10px rgba(255, 255, 255, 0.9);
}

.breadcrumb__item a {
  color: #333333;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (hover: hover) and (pointer: fine) {
  .breadcrumb__item a:hover {
    text-decoration: underline;
  }
}

.breadcrumb__item:not(:last-child):after {
  content: '>';
  margin-left: .5em;
}

.breadcrumb__item:last-child {
  color: #7eb8b5;
}

.btnArea {
  background: #ffffff;
}

@media print, screen and (min-width: 768px) {
  .btnArea {
    padding: 80px 0 130px;
  }
}

@media only screen and (max-width: 767px) {
  .btnArea {
    padding: 40px 0 65px;
  }
}

@media print, screen and (min-width: 768px) {
  .btnList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.btnList__item {
  background: -webkit-gradient(linear, left top, right top, from(#849191), color-stop(70%, #9ca6a6), to(#b4bcbc));
  background: linear-gradient(90deg, #849191 0%, #9ca6a6 70%, #b4bcbc 100%);
  -webkit-box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.1);
  height: 40px;
  overflow: hidden;
  position: relative;
}

@media print, screen and (min-width: 768px) {
  .btnList__item {
    width: 244px;
  }
}

@media screen and (max-width: 1023px) {
  .btnList__item--print {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .btnList__item {
    width: 100%;
  }
}

.btnList__item.is-hover {
  color: #ffffff;
}

.btnList__item.is-hover:before {
  -webkit-animation: scaleout 1s 1 ease-out;
          animation: scaleout 1s 1 ease-out;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  content: '';
  height: calc(244px * 1.05);
  left: calc(50% - (calc(244px * 1.05) / 2));
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: calc((40px - calc(244px * 1.05)) / 2);
  width: calc(244px * 1.05);
}

@keyframes scaleout {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media print, screen and (min-width: 768px) {
  .btnList__item:nth-child(n+2) {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .btnList__item:nth-child(n+2) {
    margin-top: 20px;
  }
}

.btnList__anchor {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: .08em;
  line-height: 1;
  width: 100%;
}

.cap,
.caption,
.capIn,
.capOut {
  color: #999999;
  font-family: "Noto Serif JP", serif;
  font-size: 10px;
  letter-spacing: .08em;
  line-height: 1.8;
}

.cap[data-color='white'],
.caption[data-color='white'],
.capIn[data-color='white'],
.capOut[data-color='white'] {
  color: #ffffff;
}

.cap[data-color='black'],
.caption[data-color='black'],
.capIn[data-color='black'],
.capOut[data-color='black'] {
  color: #000000;
}

.cap[data-color='sdw-wh'],
.caption[data-color='sdw-wh'],
.capIn[data-color='sdw-wh'],
.capOut[data-color='sdw-wh'] {
  color: #ffffff;
  text-shadow: 1px 1px 5px #000000, -1px 1px 5px #000000, 1px -1px 5px #000000, -1px -1px 5px #000000;
}

.cap[data-color='sdw-bl'],
.caption[data-color='sdw-bl'],
.capIn[data-color='sdw-bl'],
.capOut[data-color='sdw-bl'] {
  text-shadow: 1px 1px 5px #ffffff, -1px 1px 5px #ffffff, 1px -1px 5px #ffffff, -1px -1px 5px #ffffff;
}

.capIn,
.capOut {
  text-align: right;
}

.head--02 {
  letter-spacing: .04em;
  line-height: 1.4;
}

@media print, screen and (min-width: 768px) {
  .head--02 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .head--02 {
    font-size: 20px;
  }
}

.head--02.en {
  font-family: "EB Garamond", serif;
}

@media print, screen and (min-width: 768px) {
  .head--02.en {
    font-size: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .head--02.en {
    font-size: 25px;
  }
}

.head--03 {
  letter-spacing: .04em;
  line-height: 1.4;
}

@media print, screen and (min-width: 768px) {
  .head--03 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 767px) {
  .head--03 {
    font-size: 16px;
  }
}

.head--04 {
  font-size: 18px;
  letter-spacing: 0;
  line-height: 1.4;
}

.keyVisual {
  background: transparent url(../images/img-kv-bg@1.5x.jpg) no-repeat top center/cover;
  width: 100%;
}

@media print, screen and (min-width: 768px) {
  .keyVisual {
    height: 46.12006vw;
    max-height: 630px;
  }
}

@media only screen and (max-width: 767px) {
  .keyVisual {
    height: calc(700 / 750 * 100vw);
  }
}

.keyVisual--limited {
  background: transparent url(../images/img-kv-bg-limited.jpg) no-repeat top center/cover;
}

.keyVisual--visit {
  background: transparent url(../images/img-kv-bg-visit.jpg) no-repeat top center/cover;
}

.keyVisual__inner {
  height: 100%;
  margin: 0 auto;
  max-width: 1366px;
  position: relative;
}

.keyVisual__ttl {
  position: absolute;
  text-align: center;
  z-index: 1;
}

@media print, screen and (min-width: 768px) {
  .keyVisual__ttl {
    bottom: 40.47619%;
    left: 4.83163%;
  }
}

@media only screen and (max-width: 767px) {
  .keyVisual__ttl {
    bottom: calc(40 / 750 * 100vw);
    left: 0;
    margin: auto;
    right: 0;
    text-align: center;
    width: calc(680 / 750 * 100%);
    z-index: 1;
  }
}

.keyVisual__ttl .line {
  background: #f7f3db;
  height: 3px;
  margin: 17px auto 0;
  max-width: unset;
}

@media print, screen and (min-width: 768px) {
  .keyVisual__ttl .line {
    -webkit-animation: kvLineAnimation 1.5s ease forwards;
            animation: kvLineAnimation 1.5s ease forwards;
    width: 160px;
  }
  @-webkit-keyframes kvLineAnimation {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes kvLineAnimation {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 767px) {
  .keyVisual__ttl .line {
    width: calc(320 / 750 * 100vw);
  }
}

.keyVisual__ttl .line:after {
  -webkit-animation: kvLineAfterAnimation 1.5s ease forwards;
          animation: kvLineAfterAnimation 1.5s ease forwards;
  background: -webkit-gradient(linear, left top, right top, from(#5ab5b2), color-stop(70%, #a5c9b2), to(#e6dbb0));
  background: linear-gradient(90deg, #5ab5b2 0%, #a5c9b2 70%, #e6dbb0 100%);
  content: '';
  display: block;
  height: 100%;
  width: 0;
}

@media print, screen and (min-width: 768px) {
  .keyVisual__ttl .line:after {
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
  }
}

@media only screen and (max-width: 767px) {
  .keyVisual__ttl .line:after {
    -webkit-animation-duration: .75s;
            animation-duration: .75s;
  }
}

@-webkit-keyframes kvLineAfterAnimation {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes kvLineAfterAnimation {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

.keyVisual__svgWrap {
  overflow: hidden;
}

@media print, screen and (min-width: 768px) {
  .keyVisual__svgWrap {
    -webkit-animation: kvTtlAnimation 1.5s ease;
            animation: kvTtlAnimation 1.5s ease;
  }
  @-webkit-keyframes kvTtlAnimation {
    0% {
      opacity: 0;
      width: 0;
    }
    100% {
      opacity: 1;
      width: 100%;
    }
  }
  @keyframes kvTtlAnimation {
    0% {
      opacity: 0;
      width: 0;
    }
    100% {
      opacity: 1;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .keyVisual__svgWrap {
    -webkit-animation: kvTtlAnimation 1.5s ease;
            animation: kvTtlAnimation 1.5s ease;
  }
  @-webkit-keyframes kvTtlAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes kvTtlAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.keyVisual__svg {
  fill: #111111;
  fill-rule: evenodd;
  max-width: unset;
}

.keyVisual__image {
  -webkit-animation: kvImageAnimation 4s ease forwards;
          animation: kvImageAnimation 4s ease forwards;
  -webkit-box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.1);
  margin: auto;
  max-width: 983px;
  opacity: .1;
  position: absolute;
}

@-webkit-keyframes kvImageAnimation {
  0% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes kvImageAnimation {
  0% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}

@media print, screen and (min-width: 768px) {
  .keyVisual__image {
    bottom: 0;
    right: 0;
    top: 0;
    width: 72.03514%;
  }
}

@media only screen and (max-width: 767px) {
  .keyVisual__image {
    left: 0;
    right: 0;
    top: 50px;
    width: calc(690 / 750 * 100vw);
  }
}

.keyVisual .capIn {
  position: absolute;
  white-space: nowrap;
  z-index: 1;
}

@media print, screen and (min-width: 768px) {
  .keyVisual .capIn {
    bottom: 7.93651%;
    color: #ffffff;
    right: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .keyVisual .capIn {
    bottom: -20px;
    right: 10px;
  }
}

.lowTxt {
  font-size: 14px;
  letter-spacing: 0;
  line-height: calc(22.4 / 14);
}

@media only screen and (max-width: 767px) {
  .lowTxt {
    text-align: justify;
  }
}

.pageLeadArea {
  background: #ffffff;
}

.pageLeadArea--limited {
  background: #edf0f3;
}

@media print, screen and (min-width: 768px) {
  .pageLeadArea {
    padding: 80px 0 120px;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .pageLeadArea {
    padding: 80px 0 60px;
  }
}

@media print, screen and (min-width: 768px) {
  .pageLeadArea .head--02 {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .pageLeadArea .head--02 {
    margin-bottom: 30px;
  }
}

.pageLeadArea .lowTxt {
  letter-spacing: .04em;
  line-height: 1.8;
}

.photo {
  position: relative;
}

.photo__capIn, .photo__capOut {
  font-size: 10px;
  letter-spacing: normal;
  line-height: calc(18 / 10);
}

.photo__capIn, .photo__capOut {
  position: absolute;
}

.photo__capIn {
  bottom: 5px;
  right: 5px;
}

@media only screen and (max-width: 767px) {
  .photo__capIn {
    text-align: right;
  }
}

.photo__capOut {
  padding-top: 5px;
  right: 0;
  top: 100%;
}

.photo__pic {
  display: block;
}

.photo--objectFit {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.photo--objectFit .photo__pic {
  height: 100%;
  width: 100%;
}

.photo--objectFit .photo__image {
  aspect-ratio: unset !important;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.photo--multiply {
  mix-blend-mode: multiply;
}

.photo--darken {
  mix-blend-mode: darken;
}

.photo--kakoi {
  border: 1px solid #f2f2f2;
}

.photo--full {
  width: 100%;
}

.photo--full picture {
  width: 100%;
}

.photo--full img {
  width: 100%;
}

.popPageHead {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent url(../images/bg-content.jpg) no-repeat center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 4px;
  text-align: center;
}

.popPageHead--limited {
  background: transparent url(../../common/images/img-kv-bg-limited.jpg) no-repeat top center/cover;
}

.popPageHead__line {
  background: -webkit-gradient(linear, left top, right top, from(#5ab5b2), color-stop(70%, #a5c9b2), to(#e6dbb0));
  background: linear-gradient(90deg, #5ab5b2 0%, #a5c9b2 70%, #e6dbb0 100%);
  height: 3px;
  margin: 0 auto;
}

@media print, screen and (min-width: 768px) {
  .popPageHead__line {
    width: 160px;
  }
}

@media only screen and (max-width: 767px) {
  .popPageHead__line {
    width: calc(320 / 750 * 100vw);
  }
}

.popPageHead__en {
  margin-bottom: 20px;
}

.popPageHead__ja {
  margin-top: 12px;
}

.popPageHead__en-svg {
  -webkit-filter: drop-shadow(0 0 10px #ffffff) drop-shadow(0 0 10px #ffffff);
          filter: drop-shadow(0 0 10px #ffffff) drop-shadow(0 0 10px #ffffff);
}

.popPageHead__ja-svg {
  -webkit-filter: drop-shadow(0 0 10px #ffffff) drop-shadow(0 0 10px #ffffff);
          filter: drop-shadow(0 0 10px #ffffff) drop-shadow(0 0 10px #ffffff);
}

.secLead .head--03 {
  border-bottom: 1px solid #111111;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.secLead .head--03[data-color='green'] {
  color: #4e9c99;
}

.secLead .cap {
  margin-top: 5px;
}

.secLead .spTopics {
  font-size: 19px;
}

.wrap {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

@media print, screen and (min-width: 768px) {
  .wrap {
    max-width: 1140px;
  }
}

@media print, screen and (min-width: 768px) {
  .wrap--middle {
    max-width: 950px;
  }
}
