@media print, screen and (min-width: 768px) {
  .cLinkArea {
    background: transparent url(../images/top/pc/bg-clink.jpg) no-repeat top center/100%;
  }
}

@media only screen and (max-width: 767px) {
  .cLinkArea {
    background: transparent url(../images/top/sp/bg-clink.jpg) no-repeat top center/100%;
  }
}

@media print, screen and (min-width: 768px) {
  .cLinkArea__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    max-width: 1366px;
    padding: 80px 64px 55px;
  }
}

@media only screen and (max-width: 767px) {
  .cLinkArea__inner {
    padding: 65px 0 50px;
  }
}

.cLinkSec {
  position: relative;
}

@media print, screen and (min-width: 768px) {
  .cLinkSec {
    width: calc(100vw - (64px * 2));
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .cLinkSec {
    width: 100%;
  }
}

@media print, screen and (min-width: 768px) {
  .cLinkSec:nth-child(n+2) {
    margin-top: 120px;
  }
}

@media only screen and (max-width: 767px) {
  .cLinkSec:nth-child(n+3) {
/*    margin-top: 80px;*/
      margin-top: 120px;
  }
}


@media print, screen and (min-width: 768px) {
  .cLinkSec__logo {
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .cLinkSec__logo {
    width: 265px;
  }
}

@media only screen and (max-width: 767px) {
  .cLinkSec--concept {
    padding: 0 30px 60px 45px;
  }
}

.cLinkSec--concept .lowTxt {
  text-align: center;
}

@media print, screen and (min-width: 768px) {
  .cLinkSec--concept .lowTxt {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 767px) {
  .cLinkSec--concept .lowTxt {
    margin-top: 40px;
  }
}

.cLinkSec--concept .cHead {
  max-height: 290px;
}

@media print, screen and (min-width: 768px) {
  .cLinkSec--concept .cHead {
    left: 64px;
  }
}

@media only screen and (max-width: 767px) {
  .cLinkSec--concept .cHead {
    left: 15px;
    top: 0;
  }
}

@media print, screen and (min-width: 768px) {
  .cLinkSec--concept .cHead .line {
    max-height: 190px;
  }
}

@media only screen and (max-width: 767px) {
  .cLinkSec--concept .cHead .line {
    max-height: 190px;
  }
}

@media print, screen and (min-width: 768px) {
  .cLinkSec--plan .cLinkBox {
    background: transparent url(../images/top/pc/bg-cbox-all.png) no-repeat top left/100%;
  }
}

@media only screen and (max-width: 767px) {
  .cLinkSec--plan .cLinkBox {
    background: transparent url(../images/top/sp/bg-cbox-all.png) no-repeat top left/100%;
  }
}

@media print, screen and (min-width: 768px) {
  .cLinkSec--plan .cHead .line {
    max-height: 204px;
  }
}

@media only screen and (max-width: 767px) {
  .cLinkSec--plan .cHead .line {
    max-height: 235px;
  }
}

@media print, screen and (min-width: 768px) {
  .cLinkSec--quality .cLinkBox {
    background: transparent url(../images/top/pc/bg-cbox-all.png) no-repeat top left/100%;
  }
}

@media only screen and (max-width: 767px) {
  .cLinkSec--quality .cLinkBox {
    background: transparent url(../images/top/sp/bg-cbox-all.png) no-repeat top left/100%;
  }
}

@media print, screen and (min-width: 768px) {
  .cLinkSec--quality .cHead .line {
    max-height: 204px;
  }
}

@media only screen and (max-width: 767px) {
  .cLinkSec--quality .cHead .line {
    max-height: 235px;
  }
}

@media print, screen and (min-width: 768px) {
  .cLinkSec--select .cLinkBox {
    background: transparent url(../images/top/pc/bg-cbox-all.png) no-repeat top left/100%;
  }
}

@media only screen and (max-width: 767px) {
  .cLinkSec--select .cLinkBox {
    background: transparent url(../images/top/sp/bg-cbox-all.png) no-repeat top left/100%;
  }
}

@media print, screen and (min-width: 768px) {
  .cLinkSec--select .cHead .line {
    max-height: 204px;
  }
}

@media only screen and (max-width: 767px) {
  .cLinkSec--select .cHead .line {
    max-height: 235px;
  }
}

@media print, screen and (min-width: 768px) {
  .cLinkSec--modelroom .cLinkBox {
    background: transparent url(../images/top/pc/bg-cbox-all.png) no-repeat top left/100%;
  }
}

@media only screen and (max-width: 767px) {
  .cLinkSec--modelroom .cLinkBox {
    background: transparent url(../images/top/sp/bg-cbox-all.png) no-repeat top left/100%;
  }
}

@media print, screen and (min-width: 768px) {
  .cLinkSec--modelroom .cHead .line {
    max-height: 204px;
  }
}

@media only screen and (max-width: 767px) {
  .cLinkSec--modelroom .cHead .line {
    max-height: 235px;
  }
}

@media print, screen and (min-width: 768px) {
  .cLinkSec--area .cLinkBox {
    background: transparent url(../images/top/pc/bg-cbox-all.png) no-repeat top left/100%;
  }
}

@media only screen and (max-width: 767px) {
  .cLinkSec--area .cLinkBox {
    background: transparent url(../images/top/sp/bg-cbox-all.png) no-repeat top left/100%;
  }
}

@media print, screen and (min-width: 768px) {
  .cLinkSec--area .cLinkBox .cHead .line {
    max-height: 204px;
  }
}

@media only screen and (max-width: 767px) {
  .cLinkSec--area .cLinkBox .cHead .line {
    max-height: 235px;
  }
}

@media print, screen and (min-width: 768px) {
  .cLinkSec--gentle .cLinkBox {
    background: transparent url(../images/top/pc/bg-cbox-all.png) no-repeat top left/100%;
  }
}

@media only screen and (max-width: 767px) {
  .cLinkSec--gentle .cLinkBox {
    background: transparent url(../images/top/sp/bg-cbox-all.png) no-repeat top left/100%;
  }
}

@media print, screen and (min-width: 768px) {
  .cLinkSec--gentle .cHead .line {
    max-height: 183px;
  }
}

@media only screen and (max-width: 767px) {
  .cLinkSec--gentle .cHead .line {
    max-height: 215px;
  }
}

@media print, screen and (min-width: 768px) {
  .cLinkSec--design .cLinkBox {
    background: transparent url(../images/top/pc/bg-cbox-all.png) no-repeat top left/100%;
  }
}

@media only screen and (max-width: 767px) {
  .cLinkSec--design .cLinkBox {
    background: transparent url(../images/top/sp/bg-cbox-all.png) no-repeat top left/100%;
  }
}

@media print, screen and (min-width: 768px) {
  .cLinkSec--design .cHead .line {
    max-height: 180px;
  }
}

@media only screen and (max-width: 767px) {
  .cLinkSec--design .cHead .line {
    max-height: 210px;
  }
}

@media print, screen and (min-width: 768px) {
  .cLinkSec--access .cLinkBox {
    background: transparent url(../images/top/pc/bg-cbox-all.png) no-repeat top left/100%;
  }
}

@media only screen and (max-width: 767px) {
  .cLinkSec--access .cLinkBox {
    background: transparent url(../images/top/sp/bg-cbox-all.png) no-repeat top left/100%;
  }
}

@media print, screen and (min-width: 768px) {
  .cLinkSec--access .cHead .line {
    max-height: 240px;
  }
}

@media only screen and (max-width: 767px) {
  .cLinkSec--access .cHead .line {
    max-height: 200px;
  }
}

@media print, screen and (min-width: 768px) {
  .cLinkSec--brand .cLinkBox {
    background: transparent url(../images/top/pc/bg-cbox-all.png) no-repeat top left/100%;
  }
}

@media only screen and (max-width: 767px) {
  .cLinkSec--brand .cLinkBox {
    background: transparent url(../images/top/sp/bg-cbox-all.png) no-repeat top left/100%;
  }
}

/*
@media print, screen and (min-width: 768px) {
  .cLinkSec--brand {
    margin-left: 70px;
  }
}
*/

@media print, screen and (min-width: 768px) {
  .cLinkSec--brand .cHead .line {
    max-height: 240px;
  }
}

@media only screen and (max-width: 767px) {
  .cLinkSec--brand .cHead .line {
    max-height: 200px;
  }
}
.movie{
    width: 100%;
    margin: auto;
    margin-top: 62px;
    max-width: 720px;
}
.video{
    text-align: center;
    position:relative;
    width:100%;
    height:0;
    padding-bottom: 56.25%;
    margin: auto;
}
.video iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding: 0 10px;
}
.movie .text{
    font-size: 20px;
    padding: 0 0 20px;
    text-align: center;
}
.movie .under {
    padding-top: 30px;
    font-size: 15px;
    line-height: calc(22.4 / 14);
}
.movie .cap {
    text-align: right;
    padding-right: 10px;
}
@media only screen and (max-width: 767px) {
  .movie{
    width: 100%;
    margin: auto;
    margin-top: 62px;
  }
  .movie .text{
    font-size: 16px;
  }
  .movie .under {
    font-size: 15px;
    padding-top: 20px;
  }
}

.bnr-area {
    margin:100px auto 0;
    width: 90%;
}

@media only screen and (max-width: 767px) {
    .bnr-area {
        margin-top: 50px;
    }
}

.cPhoto {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  position: relative;
}

@media print, screen and (min-width: 768px) {
  .cPhoto {
    margin: 0 auto;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    top: -35px;
  }
}

@media only screen and (max-width: 767px) {
  .cPhoto {
    width: 100%;
  }
}

.cPhoto__img {
  -webkit-box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.1);
}

.cPhoto__capIn {
  position: absolute;
  right: 10px;
}

@media print, screen and (min-width: 768px) {
  .cPhoto__capIn {
    bottom: 70px;
  }
}

@media only screen and (max-width: 767px) {
  .cPhoto__capIn {
    bottom: 0px;
  }
}

.cHead {
  display: inline-block;
  height: 100%;
  max-width: 3px;
  position: absolute;
  width: 100%;
  z-index: 10;
  text-shadow: 2px 2px 10px rgba(241, 251, 245, 0.3), -2px 2px 10px rgba(241, 251, 245, 0.3), 2px -2px 10px rgba(241, 251, 245, 0.3), -2px -2px 10px rgba(241, 251, 245, 0.3);
}

@media print, screen and (min-width: 768px) {
  .cHead {
    left: -64px;
    top: 0;
  }
}

@media only screen and (max-width: 767px) {
  .cHead {
    bottom: 0;
    left: -25px;
  }
}

.cHead .en {
  font-family: "Oooh Baby", cursive;
  font-size: 28px;
  letter-spacing: .02em;
  line-height: .6;
  text-orientation: sideways;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.cHead .line {
  background: #f7f3db;
  height: 100%;
  margin-top: 5px;
  position: relative;
  width: 3px;
}

.cHead .line:after {
  background: -webkit-gradient(linear, left top, left bottom, from(#5ab5b2), color-stop(70%, #a5c9b2), to(#e6dbb0));
  background: linear-gradient(180deg, #5ab5b2 0%, #a5c9b2 70%, #e6dbb0 100%);
  content: '';
  display: block;
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.cHead.aos-animate .line:after {
  height: 100%;
  -webkit-transition: all .5s .5s ease;
  transition: all .5s .5s ease;
}

.cHead .ja {
  bottom: 10px;
  color: #999999;
  font-size: 10px;
  letter-spacing: .15em;
  line-height: 1;
  position: absolute;
  right: -15px;
  text-orientation: sideways;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

@media print, screen and (min-width: 768px) {
  .cLinkBox {
    height: 268px;
    left: min(100vw * (152 / 1238), 152px);
    padding: calc((76 / 1440) * 100vw) 0 0 calc((100 / 1440) * 100vw);
    position: relative;
    top: -10.38%;
    width: min(100vw - (152px + 64px), 1150px);
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .cLinkBox {
    left: calc(100vw * (152 / 1238));
    width: calc(100vw - (152px + 40px));
  }
}

@media only screen and (max-width: 767px) {
  .cLinkBox {
    height: 300px;
    margin: 0 0 0 auto;
    position: relative;
    right: 0;
    top: -20px;
    width: calc(670 / 750 * 100vw);
  }
}

.cLinkBox__inner {
  position: absolute;
  z-index: 10;
}

@media print, screen and (min-width: 768px) {
  .cLinkBox__inner {
    left: calc((100 / 1440) * 100vw);
    top: calc((76 / 1440) * 100vw);
  }
}

@media only screen and (max-width: 767px) {
  .cLinkBox__inner {
    padding: 110px 30px 0 25px;
  }
}

.cLinkBox__ttl {
  position: absolute;
}

@media print, screen and (min-width: 768px) {
  .cLinkBox__ttl {
    left: -38px;
    top: -60px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .cLinkBox__ttl {
    left: -19px;
    top: -16px;
  }
}

@media only screen and (max-width: 767px) {
  .cLinkBox__ttl {
    left: 0;
    top: 20px;
  }
  .cLinkSec--modelroom .cLinkBox__ttl {
    left: 22px;
    top: 3px;
  }
}

.cLinkBox .head--03 {
  margin-bottom: 20px;
}

.cLinkBox .head--03 sup{
  font-size: .5em;
}

.cLinkBox .head--03 sub{
  font-size:  11px;
  vertical-align: baseline;
}

.cLinkBox .head--03 .mid{
  font-size: 17px;
}

.cLinkBox .lowTxt {
  margin-bottom: 30px;
}

.cLinkBox .lowTxt sup{
  font-size: 11px;
  vertical-align: baseline;
}

.cLinkBtn {
  background: -webkit-gradient(linear, left top, right top, from(#4e9c99), color-stop(70%, #99b596), to(#dbcc8f));
  background: linear-gradient(90deg, #4e9c99 0%, #99b596 70%, #dbcc8f 100%);
  -webkit-box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.1);
  height: 40px;
  max-width: 281px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.cLinkBtn.is-hover {
  color: #ffffff;
}

.cLinkBtn.is-hover:before {
  -webkit-animation: scaleout 1s 1 ease-out;
          animation: scaleout 1s 1 ease-out;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  content: '';
  height: calc(281px * 1.05);
  left: calc(50% - (calc(281px * 1.05) / 2));
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: calc((40px - calc(281px * 1.05)) / 2);
  width: calc(281px * 1.05);
}

@-webkit-keyframes scaleout {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleout {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.cLinkBtn__txt {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "EB Garamond", serif;
  font-size: 20px;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: .08em;
  line-height: 1;
  position: relative;
  width: 100%;
  z-index: 1;
}

@media (hover: hover) and (pointer: fine) {
  .cLinkBtn__txt:hover {
    color: #ffffff;
  }
}

.cLinkBtn--off {
  background: #999999;
  pointer-events: none;
}

@media print, screen and (min-width: 768px) {
  .cLinkSec--half {
    display: inline-block;
    width: calc(100% * (520 / 1238));
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .cLinkSec--half {
    width: calc(100% * (334 / 750));
  }
}

@media only screen and (max-width: 767px) {
  .cLinkSec--half {
    margin-left: 15px;
    padding: 0 15px 0 25px;
  }
  .cLinkBox .head--03 .mid{
  font-size: 14px;
}
}

.cLinkSec--half .cPhoto {
  margin-right: 0;
  max-width: 480px;
  top: 0;
  width: calc(100% * (480 / 520));
}

.cLinkSec--half .cPhoto .capIn {
  bottom: 5px;
  right: 5px;
}

.cLinkSec--half .cHead {
  left: 0;
}

.cLinkSec--half .cHead .ja {
  bottom: 0;
}

.cLinkSec--half .cLinkBox {
  height: auto;
  margin-left: auto;
  margin-top: 30px;
  padding: 0;
  position: initial;
}

@media print, screen and (min-width: 768px) {
  .cLinkSec--half .cLinkBox {
    width: calc(100% * (480 / 520));
  }
}

@media only screen and (max-width: 767px) {
  .cLinkSec--half .cLinkBox {
    padding: 0 30px 0 25px;
  }
}

.cLinkSec--half .cLinkBox__lead {
  font-size: 20px;
  letter-spacing: .08em;
  line-height: calc(28/20);
  margin-bottom: 20px;
}

.cLinkSec--half .cLinkBox__lead .font-mini {
  font-size: 16px;
}

.cLinkSec--half .cLinkBox:after {
  display: none;
}



@media screen and (min-width: 1024px) {
  .entryMeritList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
/*            justify-content: space-between;*/
      justify-content: center;
  }
}

.entryMeritList__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
/*
  background: #eff8f8;
  border: 1px solid #5ab5b2;
*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: .08em;
  line-height: 1.4;
  text-align: center;
/*  width: 100%;*/
    width: 50%;
}

@media screen and (min-width: 1024px) {
  .entryMeritList__item {
/*    height: 110px;*/
  }
  .entryMeritList__item:nth-child(n+2) {
    margin-left: 30px;
  }
}

@media screen and (max-width: 1023px) {
  .entryMeritList__item {
/*    height: 120px;*/
    margin: 0 auto;
    max-width: 518px;
    width: 100%;
  }
  .entryMeritList__item:nth-child(n+2) {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .entryMeritStep {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px;
  }
}

@media screen and (max-width: 1023px) {
  .entryMeritStep {
    margin-top: 30px;
  }
}

.entryMeritStep__item {
  background: #ffffff;
  font-size: 18px;
}

@media screen and (min-width: 1024px) {
  .entryMeritStep__item {
    height: 170px;
    width: calc(350 / 1110 * 100%);
  }
  .entryMeritStep__item:nth-child(n+2) {
    margin-left: 30px;
  }
}

@media screen and (max-width: 1023px) {
  .entryMeritStep__item {
    margin: 0 auto;
    max-width: 295px;
    width: calc(590 / 750 * 100vw);
  }
  .entryMeritStep__item:nth-child(n+2) {
    margin-top: 30px;
  }
}

.entryMeritStep__ttl {
  background: -webkit-gradient(linear, left top, right top, from(#d6fafa), color-stop(65%, #ebf8f8), to(#fbfdfd));
  background: linear-gradient(90deg, #d6fafa 0%, #ebf8f8 65%, #fbfdfd 100%);
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .entryMeritStep__ttl {
    height: 40px;
    padding-top: 10px;
  }
}

@media screen and (max-width: 1023px) {
  .entryMeritStep__ttl {
    height: 33px;
    padding: 5px 0;
  }
}

@media screen and (min-width: 1024px) {
  .entryMeritStep__body {
    padding: 25px 15px 0 25px;
  }
}

@media screen and (max-width: 1023px) {
  .entryMeritStep__body {
    padding: 25px 15px 25px 25px;
  }
}

.entryMeritStep__body .head--04 {
  margin-bottom: 10px;
}

.entryMeritStep__txt {
  letter-spacing: 0;
  line-height: calc(22/14);
}

@media screen and (min-width: 1024px) {
  .entryMeritStep__txt {
    font-size: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .entryMeritStep__txt {
    font-size: 12px;
  }
}

.entryCvBtn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(140deg, #4f9c99 0%, #77b3b1 70%, #93c3c1 100%);
  -webkit-box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  height: 75px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: .08em;
  line-height: 1;
  overflow: hidden;
  position: relative;
}

.entryCvBtn.is-hover {
  color: #ffffff;
}

.entryCvBtn.is-hover:before {
  -webkit-animation: scaleout 1s 1 ease-out;
          animation: scaleout 1s 1 ease-out;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  content: '';
  height: calc(380px * 1.05);
  left: calc(50% - (calc(380px * 1.05) / 2));
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: calc((75px - calc(380px * 1.05)) / 2);
  width: calc(380px * 1.05);
}

@keyframes scaleout {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (hover: hover) and (pointer: fine) {
  .entryCvBtn:hover {
    color: #ffffff;
  }
}

@media print, screen and (min-width: 768px) {
  .entryCvBtn {
    margin: 40px auto 0;
    width: 380px;
  }
}

@media only screen and (max-width: 767px) {
  .entryCvBtn {
    margin: 20px auto 0;
    max-width: 345px;
    width: 100%;
  }
}
.slider img {
  width: 100%;
  object-fit: cover;
}
.slick-dots li button:before{
  opacity: 1;
  color: #999;
}

.mainVisual {
  display: none;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.mainVisual__btn {
  background-color: #ffffff;
  border: 1px solid rgba(128, 128, 128, 0.7);
  cursor: pointer;
  font-family: "EB Garamond", serif;
  letter-spacing: .1em;
  line-height: .95em;
  position: absolute;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: 2;
}

@media print, screen and (min-width: 768px) {
  .mainVisual__btn {
    font-size: 15px;
    padding: 12px 15px 10px;
    right: 20px;
    top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .mainVisual__btn {
    font-size: 12px;
    padding: 7px 10px 6px;
    right: 20px;
    top: 20px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .mainVisual__btn:hover {
    opacity: .7;
  }
}

.mainVisual__btn .skip {
  display: block;
}

.mainVisual__btn .reload {
  display: none;
}

.mainVisual__btn.is-stop .skip {
  display: none;
}

.mainVisual__btn.is-stop .reload {
  display: block;
}

.mainVisual .scene {
  background: #ffffff;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .mainVisual .scene {
    height: calc((750/750) *100vw);
  }
}

@media print, screen and (min-width: 768px) {
  .mainVisual .scene {
    height: calc((552/1366) *100vw);
  }
}

.mainVisual .scene__bg {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

.mainVisual .scene__bg .photo {
  width: 100%;
}

.mainVisual .scene__bg .photo img {
  width: 100%;
}

.mainVisual .scene__copy {
  -webkit-filter: brightness(1.4);
          filter: brightness(1.4);
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

@media print, screen and (min-width: 768px) {
  .mainVisual .scene__copy {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
}

@media only screen and (max-width: 767px) {
  .mainVisual .scene__copy {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.mainVisual .scene__copy .photo {
  width: 100%;
}

.mainVisual .scene__copy .photo img {
  width: 100%;
}

.mainVisual .scene--01 .scene__bg {
  opacity: 0;
}

.mainVisual .scene--01 .scene__copy {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}

.mainVisual .swiper-slide-prev .scene__copy,
.mainVisual .swiper-slide-active .scene__copy {
  -webkit-filter: brightness(1);
          filter: brightness(1);
  opacity: 1;
  -webkit-transition: all 3s ease 1.5s,-webkit-transform 6s linear 1.5s;
  transition: all 3s ease 1.5s,-webkit-transform 6s linear 1.5s;
  transition: all 3s ease 1.5s,transform 6s linear 1.5s;
  transition: all 3s ease 1.5s,transform 6s linear 1.5s,-webkit-transform 6s linear 1.5s;
}

@media print, screen and (min-width: 768px) {
  .mainVisual .swiper-slide-prev .scene__copy,
  .mainVisual .swiper-slide-active .scene__copy {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media only screen and (max-width: 767px) {
  .mainVisual .swiper-slide-prev .scene__copy,
  .mainVisual .swiper-slide-active .scene__copy {
    -webkit-transform: scale(0.92);
            transform: scale(0.92);
  }
}

.mainVisual .swiper-slide-prev .scene--01 .scene__copy,
.mainVisual .swiper-slide-active .scene--01 .scene__copy {
  -webkit-transition: 3s ease 1s;
  transition: 3s ease 1s;
}

.mainVisual .swiper-slide-prev .scene--01 .scene__bg,
.mainVisual .swiper-slide-active .scene--01 .scene__bg {
  opacity: 1;
  -webkit-transition: 3s ease 1s;
  transition: 3s ease 1s;
}

.mainVisual .swiper-slide-prev .scene--04 .endVisual,
.mainVisual .swiper-slide-active .scene--04 .endVisual {
  -webkit-filter: brightness(1);
          filter: brightness(1);
  opacity: 1;
  -webkit-transition: 4s ease .4s;
  transition: 4s ease .4s;
}

.endVisual {
  -webkit-filter: brightness(3);
          filter: brightness(3);
  height: 100%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.endVisual .capIn {
  bottom: 5px;
  position: absolute;
  right: 5px;
}

@media print, screen and (min-width: 768px) {
  .endVisual {
    background: transparent url(../images/top/pc/img-mv-bg.jpg) no-repeat top center/cover;
  }
}

@media only screen and (max-width: 767px) {
  .endVisual {
    background: transparent url(../images/top/sp/img-mv-bg.jpg) no-repeat top center/cover;
  }
}

.endVisual:after {
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
}

.endVisual.is-start:after {
  -webkit-animation: bgInk .5s ease-in-out forwards;
          animation: bgInk .5s ease-in-out forwards;
}

@-webkit-keyframes bgInk {
  0% {
    -webkit-backdrop-filter: blur(100%);
            backdrop-filter: blur(100%);
    opacity: 1;
  }
  100% {
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
    opacity: 0;
  }
}

@keyframes bgInk {
  0% {
    -webkit-backdrop-filter: blur(100%);
            backdrop-filter: blur(100%);
    opacity: 1;
  }
  100% {
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
    opacity: 0;
  }
}

68 .endVisual__inner {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.endVisual__parse {
  -webkit-filter: blur(100%);
          filter: blur(100%);
  opacity: 0;
  position: absolute;
  text-align: center;
}

@media print, screen and (min-width: 768px) {
  .endVisual__parse {
    bottom: 0;
    left: 0;
    right: unset;
    width: calc((968/1366) *100vw);
  }
}

@media only screen and (max-width: 767px) {
  .endVisual__parse {
    bottom: 0;
    width: calc((656/750) *100vw);
  }
}

.endVisual__parse img {
  width: 100%;
}

.swiper-slide-active .endVisual .endVisual__parse {
  -webkit-animation: parseFadein 3s ease forwards 1.5s;
          animation: parseFadein 3s ease forwards 1.5s;
}

@-webkit-keyframes parseFadein {
  0% {
    -webkit-filter: blur(100%);
            filter: blur(100%);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@keyframes parseFadein {
  0% {
    -webkit-filter: blur(100%);
            filter: blur(100%);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.endVisual__logo {
  margin: auto;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media print, screen and (min-width: 768px) {
  .endVisual__logo {
    right: calc(100 / 1366 * 100%);
    top: calc(100 / 552 * 100%);
    width: calc(339 / 1366 * 100%);
  }
}

@media only screen and (max-width: 767px) {
  .endVisual__logo {
    left: 0;
    margin: auto;
    right: 0;
    top: 35px;
    width: 280px;
  }
}

.endVisual__txt {
  bottom: 0;
  letter-spacing: .08em;
  line-height: 1;
  margin: auto;
  opacity: 0;
  position: absolute;
}

@media screen and (min-width: 1024px) {
  .endVisual__txt {
    font-size: 11px;
    left: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .endVisual__txt {
    font-size: 10px;
    left: 0;
  }
}

.swiper-slide-active .endVisual .endVisual__txt {
  -webkit-animation: txtFadein 5s 2.5s ease-in forwards;
          animation: txtFadein 5s 2.5s ease-in forwards;
}

@-webkit-keyframes txtFadein {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes txtFadein {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 767px) {
  .swiper-slide-active .endVisual .endVisual__txt {
    text-shadow: 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff;
  }
}

.endVisual__svg {
  width: 100%;
}

.endVisual__svg path {
  fill: none;
  stroke: #221714;
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  stroke-width: .2;
}

@media only screen and (max-width: 767px) {
  .endVisual__svg {
    -webkit-filter: drop-shadow(0 0 3px #ffffff);
            filter: drop-shadow(0 0 3px #ffffff);
  }
}

.swiper-slide-active .endVisual .endVisual__svg path {
  -webkit-animation: handWriting 6s ease-in forwards;
          animation: handWriting 6s ease-in forwards;
}

.swiper-slide-active .endVisual .endVisual__svg path:nth-child(1) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.swiper-slide-active .endVisual .endVisual__svg path:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.swiper-slide-active .endVisual .endVisual__svg path:nth-child(3) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.swiper-slide-active .endVisual .endVisual__svg path:nth-child(4) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.swiper-slide-active .endVisual .endVisual__svg path:nth-child(5) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.swiper-slide-active .endVisual .endVisual__svg path:nth-child(6) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.swiper-slide-active .endVisual .endVisual__svg path:nth-child(7) {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

@-webkit-keyframes handWriting {
  0% {
    fill: transparent;
    opacity: 0;
    stroke-dashoffset: 1500;
  }
  30% {
    fill: #221714;
    opacity: 1;
  }
  100% {
    fill: #221714;
    stroke-dashoffset: 0;
  }
}

@keyframes handWriting {
  0% {
    fill: transparent;
    opacity: 0;
    stroke-dashoffset: 1500;
  }
  30% {
    fill: #221714;
    opacity: 1;
  }
  100% {
    fill: #221714;
    stroke-dashoffset: 0;
  }
}

.swiper-container.is-change .swiper-slide:not(.swiper-slide-active) {
  display: none;
}

.swiper-container.is-change .swiper-slide-active {
  -webkit-transition-duration: 0 !important;
          transition-duration: 0 !important;
  -webkit-transition-duration: 0ms !important;
          transition-duration: 0ms !important;
}

@media print, screen and (min-width: 768px) {
  .uspBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.uspBlock__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #5ab5b2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0 15px;
  position: relative;
}

@media print, screen and (min-width: 768px) {
  .uspBlock__item {
    width: calc(350 / 1110 * 100%);
  }
}

@media only screen and (max-width: 767px) {
  .uspBlock__item {
    height: 115px;
  }
  .uspBlock__item:nth-child(n+2) {
    margin-top: 12px;
  }
}

.uspBlock__item:after {
  border: 1px solid #ffffff;
  content: '';
  height: calc(100% - 10px);
  left: 5px;
  position: absolute;
  top: 5px;
  width: calc(100% - 10px);
  z-index: 1;
}

.uspBlock__text {
  color: #ffffff;
  font-size: 22px;
  letter-spacing: .02em;
  line-height: calc(30/22);
  text-align: center;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .uspBlock__text {
    font-size: 15px;
  }
}

.uspBlock__text .small {
  font-size: 14px;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .uspBlock__text .small {
    font-size: 10px;
  }
}

.uspArea {
  margin-top: 24px;
}

.uspArea__border {
  background: -webkit-gradient(linear, left top, right top, from(rgba(202, 184, 103, 0)), color-stop(30%, #cab867), color-stop(70%, #cab867), to(rgba(202, 184, 103, 0)));
  background: linear-gradient(90deg, rgba(202, 184, 103, 0) 0%, #cab867 30%, #cab867 70%, rgba(202, 184, 103, 0) 100%);
  height: 3px;
  position: relative;
}

@media print, screen and (min-width: 768px) {
  .uspArea__border {
    margin: 40px auto 0;
    width: 120px;
  }
}

@media only screen and (max-width: 767px) {
  .uspArea__border {
    margin: 30px auto 0;
    width: 80px;
  }
}

.uspArea__border:before, .uspArea__border:after {
  background-color: #5ab5b2;
  bottom: 0;
  content: '';
  display: block;
  height: 1px;
  margin: auto;
  position: absolute;
  top: 0;
}

@media print, screen and (min-width: 768px) {
  .uspArea__border:before, .uspArea__border:after {
    width: calc((100vw - 120px) / 2);
  }
}

@media only screen and (max-width: 767px) {
  .uspArea__border:before, .uspArea__border:after {
    width: calc((100vw - 80px) / 2);
  }
}

@media print, screen and (min-width: 768px) {
  .uspArea__border:before {
    right: 120px;
  }
}

@media only screen and (max-width: 767px) {
  .uspArea__border:before {
    right: 80px;
  }
}

@media print, screen and (min-width: 768px) {
  .uspArea__border:after {
    left: 120px;
  }
}

@media only screen and (max-width: 767px) {
  .uspArea__border:after {
    left: 80px;
  }
}

.uspArea__price {
  font-size: 24px;
  letter-spacing: .15em;
  line-height: 1;
  margin: 20px auto 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media print, screen and (min-width: 768px) {
  .uspArea__price {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 767px) {
  .uspArea__price {
    text-align: center;
  }
}

.uspArea__price .ttl {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: .04em;
  line-height: 1;
  width: 104px;
}

@media print, screen and (min-width: 768px) {
  .uspArea__price .ttl {
    margin-right: 12px;
    position: relative;
    top: -5px;
  }
}

@media only screen and (max-width: 767px) {
  .uspArea__price .ttl {
    margin: 0 auto 10px;
  }
}

.uspArea__price .num {
  font-family: "EB Garamond", serif;
  font-size: 2em;
}

.uspArea__price .ha {
  font-family: "EB Garamond", serif;
  font-size: 1.5em;
}

.uspArea__price .small {
  font-size: .58em;
  letter-spacing: .04em;
}

.uspArea__price .color {
  color: #ad9731;
}

.uspArea .cap {
  text-align: right;
}

@media print, screen and (min-width: 768px) {
  .uspArea .cap {
    margin-bottom: -30px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .uspArea .cap {
    margin-bottom: -20px;
    margin-top: 30px;
    text-align: left;
  }
}

.uspTxt {
  margin-top: 20px;
  text-align: center;
}

.uspTxt__item {
  font-size: 32px;
  letter-spacing: .08em;
  line-height: 1.35;
}
.uspTxt__item sub{
  font-size: 15px;
  vertical-align: baseline;
}
.uspTxt__item .mini{
  font-size: 15px;
}
.uspTxt .term {
    font-size: 10px;
    display: block;
    margin-top: 5px;
  }

@media print, screen and (min-width: 768px) {
  .uspTxt__item {
    padding: 50px 5px 30px;
  }
  .uspTxt__item .bold{
    font-weight: 500;
  }
  .uspTxt__item.price {
    padding: 0 5px 24px;
    line-height: 1.0;
  }
  .uspTxt__item.price .sale{
      padding-bottom: 10px;
      display: inline-block;
      font-size: 19px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .uspTxt__item {
    font-size: 28px;
  }
}

@media print, screen and (max-width: 767px) {
  .wrap {
    padding: 0 10px;
  }
  .uspTxt__item {
    padding-bottom: 24px;
    font-size: 19px;
  }
  .uspTxt__item .bold{
    font-weight: bold;
  }
  .uspTxt__item.price {
    padding-bottom: 24px;
    line-height: 1.0;
  }
  .uspTxt__item.price .sale{
      padding-bottom: 10px;
      display: inline-block;
      font-size: 19px;
  }
  .uspTxt__item sub{
    font-size: 13px;
    display: block;
    padding-top: 10px;
    vertical-align: unset;
  }
  .uspTxt__item .mini{
    font-size: 13px;
    line-height: 1.6;
    padding-top: 10px;
    display: inline-block;
  }
}

.uspTxt .color {
  color: #4e9c99;
}

.uspTxt .red {
  color: #b30000;
}

.uspTxt .num {
  font-family: 'EB Garamond';
  font-size: 1.4em;
  font-weight: 500;
}

.uspTxt .ha {
  font-size: 1.2em;
  font-weight: 500;
}

.uspTxt .cross {
  font-size: 1.33em;
  vertical-align: bottom;
}

.uspTxt .time {
  font-size: 19px;
}

.uspTxt .line {
  border-top: 1px solid #5ab5b2;
  display: block;
  margin: 20px auto 15px;
  width: calc(620 / 750 * 100vw);
}

@media print, screen and (min-width: 768px) {
  .uspTxt .line {
    display: none;
  }
}

.uspTxt sup {
  font-size: 10px;
  letter-spacing: 0;
  vertical-align: 1.5em;
}

@media print, screen and (min-width: 768px) {
  .infoArea {
    margin: 80px auto 120px;
  }
  .infoArea .text01{
    font-size: 10px;
    font-family: "EB Garamond", serif;
    color: #999999;
    letter-spacing: .15em;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .infoArea {
    margin: 35px auto 60px;
  }
  .infoArea .text01{
    font-size: 10px;
    font-family: "EB Garamond", serif;
    color: #999999;
    letter-spacing: .15em;
    margin-bottom: 10px;
  }
}

.infoArea__head {
  font-family: "EB Garamond", serif;
  font-size: 16px;
  letter-spacing: .15em;
  line-height: 1;
  padding-bottom: 5px;
}

@media only screen and (max-width: 767px) {
  .infoArea__head {
    text-align: center;
  }
}

.infoArea__ttl {
  color: #5ab5b2;
  letter-spacing: .15em;
  margin-bottom: 5px;
}

@media print, screen and (min-width: 768px) {
  .infoArea__ttl {
    font-size: 32px;
  }
}

@media only screen and (max-width: 767px) {
  .infoArea__ttl {
    font-size: 26px;
    text-align: center;
  }
}

.infoArea__ttl + .lowTxt {
  margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
  .infoArea__ttl + .lowTxt {
    text-align: center;
  }
}

@media print, screen and (min-width: 768px) {
  .infoArea__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.infoBox {
  border: 1px solid #5ab5b2;
}

@media print, screen and (min-width: 768px) {
  .infoBox {
    padding: 30px 20px;
    width: calc(730 / 1110 * 100%);
  }
}

@media only screen and (max-width: 767px) {
  .infoBox {
    height: 248px;
    overflow-y: auto;
    padding: 35px;
  }
}

.infoBox__ttl {
  letter-spacing: .08em;
  line-height: 1;
}

@media print, screen and (min-width: 768px) {
  .infoBox__ttl {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .infoBox__ttl {
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .infoBox__ttl {
    font-size: 14px;
    margin-bottom: 15px;
  }
}

@media print, screen and (min-width: 768px) {
  .contactSec {
    width: calc(350 / 1110 * 100%);
  }
}

@media only screen and (max-width: 767px) {
  .contactSec {
    margin: 40px auto 0;
  }
}

.infoCvBtn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  height: 75px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: .08em;
  line-height: 1;
  overflow: hidden;
  position: relative;
}

.infoCvBtn.is-hover {
  color: #ffffff;
}

.infoCvBtn.is-hover:before {
  -webkit-animation: scaleout 1s 1 ease-out;
          animation: scaleout 1s 1 ease-out;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  content: '';
  height: calc(350px * 1.05);
  left: calc(50% - (calc(350px * 1.05) / 2));
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: calc((75px - calc(350px * 1.05)) / 2);
  width: calc(350px * 1.05);
}

@keyframes scaleout {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (hover: hover) and (pointer: fine) {
  .infoCvBtn:hover {
    color: #ffffff;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .infoCvBtn {
    font-size: 16px;
  }
}

@media print, screen and (min-width: 768px) {
  .infoCvBtn:nth-child(n+2) {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .infoCvBtn:nth-child(n+2) {
    margin-top: 20px;
  }
}

.infoCvBtn--req {
  background: linear-gradient(140deg, #4f9c99 0%, #77b3b1 70%, #93c3c1 100%);
}

.infoCvBtn--res {
  background: linear-gradient(140deg, #780C11 0%, #931A1D 70%, #DD4A4A 100%);
}

.infoContact {
  letter-spacing: 0;
  line-height: 1.5;
  margin-top: 30px;
}

@media only screen and (max-width: 767px) {
  .infoContact {
    text-align: center;
  }
}

.infoContact .c-contact__txt {
  font-size: 11px;
}

.entryMeritArea {
  background: #def0f0;
}

@media print, screen and (min-width: 768px) {
  .entryMeritArea {
    padding: 60px 0;
  }
}

@media only screen and (max-width: 767px) {
  .entryMeritArea {
    padding: 50px 0;
  }
}

.entryMeritArea .head--02 {
  margin-bottom: 30px;
  text-align: center;
}
