/******************************

 * style
 *
 * 1. import
 * 2. html, body
 * 3. tag
 * 4. Layout
 * 5. Components

******************************/
/*****
 * 1. import
*****/
/**
 * accessibility.css
 * (c) FOURDIGIT Inc.
 */
/*
@import url(import/bootstrap.css);
@import url(import/reset.css);
@import url(import/util.css);
*/

.ftrCvBtn--res {
  background: linear-gradient(140deg, #780C11 0%, #931A1D 70%, #DD4A4A 100%);
}
.headerCvBtn--res {
  background: linear-gradient(140deg, #780C11 0%, #931A1D 70%, #DD4A4A 100%);
}
.fixedMenu__item--res > a {
  background: linear-gradient(140deg, #780C11 0%, #931A1D 70%, #DD4A4A 100%);
}

@keyframes shiny {
    0% {
        transform: scale(0) rotate(25deg);
        opacity: 0;
    }

    50% {
        transform: scale(1) rotate(25deg);
        opacity: 1;
    }

    100% {
        transform: scale(50) rotate(25deg);
        opacity: 0;
    }
}

.shiny-btn {
    position: relative;
    display: block;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #780C11;
    overflow: hidden;
}

.shiny-btn::after {
    content: '';
    position: absolute;
    top: -100px;
    left: -100px;
    width: 50px;
    height: 50px;
    background-image: linear-gradient(100deg,  rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 0) 0%);
    animation-name: shiny;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}